*.pyc
/finalize_result.py~
/result_annotation.py~
*.ply
*.xml
*.iml
.idea
/DP_rebar/diffusion_policy_ckpt
/demos_collected/*/
act_rebar/
/DP_rebar/
/rebar_scripts/pose_estimation/mmdet_decouple/work_dir/
/rebar_scripts/pose_estimation/eye2hand_base/*
/rebar_scripts/pose_estimation/eyeinhand_base/*
!/rebar_scripts/pose_estimation/eye2hand_base/mask2ply.py
!/rebar_scripts/pose_estimation/eye2hand_base/point_process.py
/rebar_scripts/pose_estimation/log/*
/rebar_scripts/pose_estimation/tying_log/*